
#vista-adelante-pokemon{
    
}
#datos-generales-pokemon
{
    
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    border:  solid #aaaaaa;
    margin: 10px;
} 
h4{
    text-align: center;
}

#nombrePokemon{
    padding: 10;
    text-align: center;
}

#datos-generales-pokemon{
    padding: 40px 70px;
    
}

body{
    margin:20px 70px 20px;
    background-image: url(fondo.jpg) ;
    background-size: cover;
}

header{
    text-align: center;
    margin: 10px 10px 30px;
}

.contenedor-pokemon{
    width: 120;
    height: 120;
}

#divCaracteristicasPokemon
{
height: 150px;
width: 150px;
}


